<?xml version="1.0" encoding="utf-8"?>
<assembly name="AutoMapper">
  <member name="M:AutoMapper.IMapper.Map``1(System.Object)">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.IMapper.Map``1(System.Object,System.Action{AutoMapper.IMappingOperationOptions})">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.IMapper.Map``2(``0)">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.IMapper.Map``2(``0,System.Action{AutoMapper.IMappingOperationOptions{``0,``1}})">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.IMapper.Map``2(``0,``1)">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.IMapper.Map``2(``0,``1,System.Action{AutoMapper.IMappingOperationOptions{``0,``1}})">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.IMapper.Map(System.Object,System.Type,System.Type)">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.IMapper.Map(System.Object,System.Type,System.Type,System.Action{AutoMapper.IMappingOperationOptions})">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.IMapper.Map(System.Object,System.Object,System.Type,System.Type)">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.IMapper.Map(System.Object,System.Object,System.Type,System.Type,System.Action{AutoMapper.IMappingOperationOptions})">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.IProfileExpression.CreateMap``2">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.IProfileExpression.CreateMap``2(AutoMapper.MemberList)">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.IProfileExpression.CreateMap(System.Type,System.Type)">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.IProfileExpression.CreateMap(System.Type,System.Type,AutoMapper.MemberList)">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.IProfileExpression.IncludeSourceExtensionMethods(System.Type)">
    <parameter name="type"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>2</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.IRuntimeMapper.Map``2(``0,``1,AutoMapper.ResolutionContext)">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.IRuntimeMapper.CreateObject``1">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.IRuntimeMapper.Map(System.Object,System.Object,System.Type,System.Type,AutoMapper.ResolutionContext)">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.Mapper.Map``1(System.Object)">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.Mapper.Map``1(System.Object,System.Action{AutoMapper.IMappingOperationOptions})">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.Mapper.Map``2(``0)">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.Mapper.Map``2(``0,System.Action{AutoMapper.IMappingOperationOptions{``0,``1}})">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.Mapper.Map``2(``0,``1)">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.Mapper.Map``2(``0,``1,System.Action{AutoMapper.IMappingOperationOptions{``0,``1}})">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.Mapper.Map(System.Object,System.Type,System.Type)">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.Mapper.Map(System.Object,System.Type,System.Type,System.Action{AutoMapper.IMappingOperationOptions})">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.Mapper.Map(System.Object,System.Object,System.Type,System.Type)">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.Mapper.Map(System.Object,System.Object,System.Type,System.Type,System.Action{AutoMapper.IMappingOperationOptions})">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.Mapper.Map``2(``0,``1,AutoMapper.ResolutionContext)">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.Mapper.CreateObject``1">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.Mapper.Map(System.Object,System.Object,System.Type,System.Type,AutoMapper.ResolutionContext)">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.Profile.CreateMap``2">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.Profile.CreateMap``2(AutoMapper.MemberList)">
    <typeparameter name="TDestination"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </typeparameter>
  </member>
  <member name="M:AutoMapper.Profile.CreateMap(System.Type,System.Type)">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.Profile.CreateMap(System.Type,System.Type,AutoMapper.MemberList)">
    <parameter name="destinationType"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseKindFlags,JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>8</argument>
        <argument>3</argument>
      </attribute>
    </parameter>
  </member>
  <member name="M:AutoMapper.Profile.IncludeSourceExtensionMethods(System.Type)">
    <parameter name="type"> 
      <attribute ctor="M:JetBrains.Annotations.MeansImplicitUseAttribute.#ctor(JetBrains.Annotations.ImplicitUseTargetFlags)">
        <argument>2</argument>
      </attribute>
    </parameter>
  </member>
</assembly>